.ai-tools-section{
    padding-top: 50px;
    position: relative;
}
.aidaptive-tool-content{
    background-color: #381e5c;
    color: #fff;
    padding:20px;
}
.ai-tool-name{
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}
.ai-box-content:hover .ai-tool-name{
    color: rgb(56,189,248);
}
.ai-tools-rating{
    display: flex;
    gap:4px;
    color:#faaf00;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}
.rating-number{
    color:rgb(158, 158, 158);
}
.aidaptive-tool-image{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.aidaptive-tool-content{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.aitools-price{
    position: relative;
}
.aitools-price i{
    padding-right: 5px;
}
.aitools-price-content{
    background-color: #8a2be2;
    padding: 7px;
    max-width: 92px;
    border-radius: 8px;
    font-size: 0.8125rem;
    border: 1px solid #af6bed;
    margin-bottom: 15px;
}
.ai-tool-description{
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}
.aitools-type{
    margin-bottom: 40px;
}
.aitools-link-btn{
    padding: 7px 80px 7px 80px;
    border-width: 0px;
    border-radius: 8px;
    color: #FFF;
    background-color: #5289ed;
}
.aitools-link-btn-content{
    text-align: center;
}
.ai-image-content{
    position: relative;
}
.favourite-ai-tool{
    position: absolute;
    color:#fff;
    font-size: 24px;
    right:8px;
    top:27px;
    cursor: pointer;
}
.favourite-ai-tool.filled i{
    color: #ff0000;
}
.popup{
    display: none;
    position: absolute;
    left:50%;
    background-color: #fff;
    padding: 20px;
    color: #000;
    font-size: 18px;
    border-radius: 8px;
    z-index: 100;
}
.popup-show{
    display: block;
}
.removedpopup-show{
    display: none;
}
.removedpopup{
    display: block;
    position: absolute;
    left:50%;
    background-color: #fff;
    padding: 20px;
    color: #000;
    font-size: 18px;
    border-radius: 8px;
    z-index: 100;
}
.view-categories{
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}
.view-categories a{
    text-decoration: none;
    color: #fff;
}
.view-categories a:hover{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}